@font-face {
  font-family: Saans;
  src: url(/assets/SaansMedium-OhhNPY7B.woff2) format("woff2");
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: Saans;
  src: url(/assets/SaansRegular-CRIy43oF.woff2) format("woff2");
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: ItemsRegular;
  src: url(/assets/Items-Regular-R4P_z7s3.woff2) format("woff2");
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}
[data-v-a3987941]:root {
  --color-beige: #ddd9d4;
  --color-black: rgb(18, 17, 14);
  --color-black-alt: rgb(18, 17, 14);
  --color-cream: #fafbf8;
  --color-grey: rgb(128, 128, 128);
  --color-warm-grey: #c3bdb8;
  --color-yellow: white;
  --color-transparent: transparent;
  --color-border: rgba(18, 17, 14, 0.3019607843);
}
[data-v-a3987941]:export {
  mobile: 375;
  tablet-portrait: 768;
  tablet-landscape: 1024;
  desktop: 1440;
  desktop-wide: 1920;
}
[data-v-a3987941]:root {
  --grid-columns: 12;
  --grid-side-margin: 2rem;
  --grid-max-outer-width: 192rem;
  --grid-side-margin: min(
    calc((2rem) + (3.2 - 2) * (100vw - 37.5rem) / 106.5),
    3.2rem
  );
  --grid-column-gap: 1rem;
}
@media only screen and (width >= 48em) {
  [data-v-a3987941]:root {
    --grid-column-gap: 3.2rem;
  }
}
[data-v-a3987941]:root {
  --grid-max-width: calc(
    var(--grid-max-outer-width) - (var(--grid-side-margin) * 2)
  );
  --grid-width-input: calc(100vw - (var(--grid-side-margin) * 2));
  --grid-width: min(var(--grid-width-input), var(--grid-max-width));
  --grid-gaps-total: var(--grid-column-gap) * (var(--grid-columns) - 1);
  --grid-column-width: calc(
    (var(--grid-width) - var(--grid-gaps-total)) / var(--grid-columns)
  );
}
.page[data-v-a3987941] {
  height: 100%;
}
.page-content[data-v-a3987941] {
  padding-top: min(
    calc((7.2rem) + (9.9 - 7.2) * (100vw - 37.5rem) / 106.5),
    9.9rem
  );
}
.page-content--404[data-v-a3987941] {
  height: 100vh;
}
.page-container[data-v-a3987941] {
  padding-bottom: min(
    calc((6.4rem) + (12 - 6.4) * (100vw - 37.5rem) / 106.5),
    12rem
  );
  margin: 0 auto;
  max-width: var(--grid-max-width);
  padding-left: var(--grid-side-margin);
  padding-right: var(--grid-side-margin);
}
.page-container--404[data-v-a3987941] {
  height: 100%;
}
.page-grid[data-v-a3987941] {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-column-gap);
  width: 100%;
}
.page-eyebrow[data-v-a3987941] {
  grid-column: 1/-1;
  margin-bottom: 2rem;
}
.page-title[data-v-a3987941] {
  padding: 5rem 0 10rem;
}
.page-subtitle[data-v-a3987941] {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #666;
}
.page-body[data-v-a3987941] {
  padding-top: min(
    calc((0.5rem) + (1 - 0.5) * (100vw - 37.5rem) / 106.5),
    1rem
  );
  grid-column: 1/-1;
  margin-bottom: 2rem;
  width: 100%;
}
@media only screen and (width >= 64em) {
  .page-body[data-v-a3987941] {
    grid-column: calc(var(12) / 2 + 1) / -1;
  }
}
.page-component[data-v-a3987941] {
  margin-bottom: 2rem;
}
.page-loading[data-v-a3987941] {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}
