@font-face {
  font-family: Saans;
  src: url(/assets/SaansMedium-OhhNPY7B.woff2) format("woff2");
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: Saans;
  src: url(/assets/SaansRegular-CRIy43oF.woff2) format("woff2");
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: ItemsRegular;
  src: url(/assets/Items-Regular-R4P_z7s3.woff2) format("woff2");
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}
[data-v-f94cb370]:root {
  --color-beige: #ddd9d4;
  --color-black: rgb(18, 17, 14);
  --color-black-alt: rgb(18, 17, 14);
  --color-cream: #fafbf8;
  --color-grey: rgb(128, 128, 128);
  --color-warm-grey: #c3bdb8;
  --color-yellow: white;
  --color-transparent: transparent;
  --color-border: rgba(18, 17, 14, 0.3019607843);
}
[data-v-f94cb370]:export {
  mobile: 375;
  tablet-portrait: 768;
  tablet-landscape: 1024;
  desktop: 1440;
  desktop-wide: 1920;
}
.VideoModal[data-v-f94cb370] {
  font-family: Saans, helvetica, arial, sans-serif;
  font-weight: 500;
  text-transform: inherit;
  font-style: inherit;
  font-size: min(
    calc((1.6rem) + (2.4 - 1.6) * (100vw - 37.5rem) / 106.5),
    2.4rem
  );
  letter-spacing: -0.01em;
  line-height: 1.1em;
  --video-modal-margin: 2rem;
  z-index: 17;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #12110e;
  color: #fafbf8;
  user-select: none;
  -webkit-user-select: none;
  pointer-events: auto;
}
@media only screen and (width >= 48em) {
  .VideoModal[data-v-f94cb370] {
    --video-modal-margin: 3.2rem;
    font-family: Saans, helvetica, arial, sans-serif;
    font-weight: 500;
    text-transform: inherit;
    font-style: inherit;
    font-size: min(
      calc((1.4rem) + (1.6 - 1.4) * (100vw - 37.5rem) / 106.5),
      1.6rem
    );
    line-height: min(
      calc((1.16em) + (1.2 - 1.16) * (100vw - 37.5rem) / 106.5),
      1.2em
    );
    letter-spacing: 0;
  }
}
.VideoModal-ui[data-v-f94cb370] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 0.8s;
  pointer-events: none;
}
.VideoModal-ui--hidden[data-v-f94cb370] {
  opacity: 0;
}
.VideoModal-darken[data-v-f94cb370] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #12110e4d;
}
.VideoModal-gradienttop[data-v-f94cb370],
.VideoModal-gradientbottom[data-v-f94cb370] {
  position: absolute;
  left: 0;
  width: 100%;
  height: clamp(100px, 50svh, 370px);
}
.VideoModal-gradienttop[data-v-f94cb370] {
  top: 0;
  background: linear-gradient(0deg, #12110e00, #12110e4d);
}
.VideoModal-gradientbottom[data-v-f94cb370] {
  bottom: 0;
  background: linear-gradient(0deg, #12110e4d, #12110e00);
}
.VideoModal-video[data-v-f94cb370] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.VideoModal-scrubberwrap[data-v-f94cb370] {
  position: relative;
  display: block;
  height: 44px;
  cursor: pointer;
  pointer-events: auto;
}
.VideoModal-scrubber[data-v-f94cb370] {
  position: absolute;
  height: 1.5px;
  width: 100%;
  top: calc(50% - 0.75px);
}
.VideoModal-scrubberfill[data-v-f94cb370] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fafbf84d;
}
.VideoModal-scrubberprogress[data-v-f94cb370] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}
.VideoModal-scrubbertooltip[data-v-f94cb370] {
  position: absolute;
  left: 0;
  bottom: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  width: 1px;
}
.VideoModal-playhead[data-v-f94cb370] {
  color: white;
  height: 0.5rem;
  width: 0.5rem;
}
.VideoModal-time[data-v-f94cb370] {
  font-family: Saans, helvetica, arial, sans-serif;
  font-weight: 300;
  text-transform: inherit;
  font-style: inherit;
  font-size: min(
    calc((1.2rem) + (1.4 - 1.2) * (100vw - 37.5rem) / 106.5),
    1.4rem
  );
  line-height: 1.15em;
  letter-spacing: 0;
  display: block;
  width: 50px;
  text-align: center;
  font-variant-numeric: tabular-nums;
}
.VideoModal-close[data-v-f94cb370] {
  position: absolute;
  left: var(--video-modal-margin);
  top: var(--video-modal-margin);
  pointer-events: auto;
}
.VideoModal-pauseicon[data-v-f94cb370] {
  height: 2rem;
  width: auto;
  display: block;
}
.VideoModal-soundicon[data-v-f94cb370] {
  height: 2rem;
  width: 2rem;
  display: block;
}
.VideoModal-sound[data-v-f94cb370] {
  height: 30px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.VideoModal-controls[data-v-f94cb370] {
  position: absolute;
  left: var(--video-modal-margin);
  right: var(--video-modal-margin);
  bottom: var(--video-modal-margin);
  min-height: 3rem;
}
@media only screen and (width < 48em) {
  .VideoModal-controls[data-v-f94cb370] {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 1rem;
  }
}
@media only screen and (width >= 48em) {
  .VideoModal-controls[data-v-f94cb370] {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2.4rem;
  }
}
.VideoModal-left[data-v-f94cb370],
.VideoModal-right[data-v-f94cb370] {
  position: relative;
  flex: none;
  display: flex;
  align-items: center;
  pointer-events: auto;
}
.VideoModal-left[data-v-f94cb370] {
  justify-content: flex-start;
}
@media only screen and (width < 48em) {
  .VideoModal-left[data-v-f94cb370] {
    grid-column: 1 / span 1;
    grid-row: 2;
  }
}
@media only screen and (width >= 48em) {
  .VideoModal-left[data-v-f94cb370] {
    width: 6.6rem;
  }
}
.VideoModal-right[data-v-f94cb370] {
  justify-content: flex-end;
}
@media only screen and (width < 48em) {
  .VideoModal-right[data-v-f94cb370] {
    grid-column: 2 / span 1;
    grid-row: 2;
  }
}
.VideoModal-center[data-v-f94cb370] {
  min-width: 0;
  display: block;
}
@media only screen and (width < 48em) {
  .VideoModal-center[data-v-f94cb370] {
    grid-column: 1/-1;
    grid-row: 1;
  }
}
@media only screen and (width >= 48em) {
  .VideoModal-center[data-v-f94cb370] {
    flex: 1;
  }
}
.VideoModal-pausebutton[data-v-f94cb370] {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2px;
  margin-left: -5px;
}
@media only screen and (width >= 48em) {
  .VideoModal-pausebutton[data-v-f94cb370] {
    margin-left: 0;
  }
}
.VideoModal-mutebutton[data-v-f94cb370] {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 6px;
}
@media only screen and (width >= 48em) {
  .VideoModal-mutebutton[data-v-f94cb370] {
    gap: 8px;
  }
}
@font-face {
  font-family: Saans;
  src: url(/assets/SaansMedium-OhhNPY7B.woff2) format("woff2");
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: Saans;
  src: url(/assets/SaansRegular-CRIy43oF.woff2) format("woff2");
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: ItemsRegular;
  src: url(/assets/Items-Regular-R4P_z7s3.woff2) format("woff2");
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}
[data-v-d3c7ceef]:root {
  --color-beige: #ddd9d4;
  --color-black: rgb(18, 17, 14);
  --color-black-alt: rgb(18, 17, 14);
  --color-cream: #fafbf8;
  --color-grey: rgb(128, 128, 128);
  --color-warm-grey: #c3bdb8;
  --color-yellow: white;
  --color-transparent: transparent;
  --color-border: rgba(18, 17, 14, 0.3019607843);
}
[data-v-d3c7ceef]:export {
  mobile: 375;
  tablet-portrait: 768;
  tablet-landscape: 1024;
  desktop: 1440;
  desktop-wide: 1920;
}
.LenisScrollBar[data-v-d3c7ceef] {
  position: fixed;
  right: 0;
  top: 0;
  width: var(--scrollbar-width);
  height: 100lvh;
  z-index: 15;
  transition: opacity 0.2s;
  opacity: 1;
  pointer-events: none;
  --scrollbar-width: 14px;
  --scrollbar-padding: 3px;
  --scrollbar-thumb-width: calc(
    var(--scrollbar-width) - var(--scrollbar-padding) - var(--scrollbar-padding)
  );
}
@media only screen and (width < 48em) {
  .LenisScrollBar[data-v-d3c7ceef] {
    --scrollbar-width: 10px;
    --scrollbar-padding: 3px;
  }
}
.LenisScrollBar.isEnabled.isDesktop[data-v-d3c7ceef] {
  pointer-events: auto;
}
.LenisScrollBar.isVisible.isEnabled[data-v-d3c7ceef] {
  opacity: 1;
}
.LenisScrollBar-gutter[data-v-d3c7ceef] {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fffc;
  border-left: 1px solid #d9d9d9;
  opacity: 0;
  transition: opacity 0.3s;
}
.mobile .LenisScrollBar-gutter[data-v-d3c7ceef] {
  display: none;
}
.isGutterRollOver .LenisScrollBar-gutter[data-v-d3c7ceef] {
  opacity: 1;
}
.LenisScrollBar-thumb[data-v-d3c7ceef] {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  scale: 0 1;
  transition: scale 0.2s, opacity 0.2s;
}
.LenisScrollBar-thumb[data-v-d3c7ceef]:active {
  opacity: 0.6;
}
.LenisScrollBar.isVisible.isEnabled .LenisScrollBar-thumb[data-v-d3c7ceef] {
  scale: 1 1;
}
.LenisScrollBar-thumbfill[data-v-d3c7ceef] {
  position: absolute;
  inset: var(--scrollbar-padding);
  background-color: #000;
  border-radius: calc(var(--scrollbar-thumb-width) * 0.5);
}
@font-face {
  font-family: Saans;
  src: url(/assets/SaansMedium-OhhNPY7B.woff2) format("woff2");
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: Saans;
  src: url(/assets/SaansRegular-CRIy43oF.woff2) format("woff2");
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: ItemsRegular;
  src: url(/assets/Items-Regular-R4P_z7s3.woff2) format("woff2");
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}
[data-v-e44eba43]:root {
  --color-beige: #ddd9d4;
  --color-black: rgb(18, 17, 14);
  --color-black-alt: rgb(18, 17, 14);
  --color-cream: #fafbf8;
  --color-grey: rgb(128, 128, 128);
  --color-warm-grey: #c3bdb8;
  --color-yellow: white;
  --color-transparent: transparent;
  --color-border: rgba(18, 17, 14, 0.3019607843);
}
[data-v-e44eba43]:export {
  mobile: 375;
  tablet-portrait: 768;
  tablet-landscape: 1024;
  desktop: 1440;
  desktop-wide: 1920;
}
.TheFooter[data-v-e44eba43] {
  width: 100%;
  color: gray;
  background-color: #12110e;
  position: sticky;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
}
.TheFooter-wrapper[data-v-e44eba43] {
  padding-bottom: 11rem;
}
@media only screen and (width >= 48em) {
  .TheFooter-wrapper[data-v-e44eba43] {
    padding-bottom: 3.6rem;
  }
}
.TheFooter-primarynav[data-v-e44eba43] {
  font-family: Saans, helvetica, arial, sans-serif;
  font-weight: 500;
  text-transform: inherit;
  font-style: inherit;
  font-size: min(calc((2.8rem) + (6 - 2.8) * (100vw - 37.5rem) / 106.5), 6rem);
  letter-spacing: -0.01em;
  line-height: min(
    calc((1.07em) + (1.1 - 1.07) * (100vw - 37.5rem) / 106.5),
    1.1em
  );
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2.25rem 2rem 0;
}
@media only screen and (width >= 48em) {
  .TheFooter-primarynav[data-v-e44eba43] {
    letter-spacing: -0.02em;
  }
}
@media only screen and (width >= 48em) {
  .TheFooter-primarynav[data-v-e44eba43] {
    font-family: Saans, helvetica, arial, sans-serif;
    font-weight: 500;
    text-transform: inherit;
    font-style: inherit;
    font-size: min(
      calc((2.2rem) + (4.8 - 2.2) * (100vw - 37.5rem) / 106.5),
      4.8rem
    );
    letter-spacing: -0.01em;
    line-height: min(
      calc((1.07em) + (1.1 - 1.07) * (100vw - 37.5rem) / 106.5),
      1.1em
    );
    flex-direction: row;
    padding: 0;
    border-top: solid 1px rgba(250, 251, 248, 0.3);
  }
}
@media only screen and (width >= 48em) and (width >= 48em) {
  .TheFooter-primarynav[data-v-e44eba43] {
    letter-spacing: -0.03em;
  }
}
.TheFooter-primarylink[data-v-e44eba43] {
  flex: 1;
  position: relative;
  border-bottom: solid 1px rgba(250, 251, 248, 0.3);
}
.TheFooter-primarylink[data-v-e44eba43]:first-of-type {
  border-top: solid 1px rgba(250, 251, 248, 0.3);
}
@media only screen and (width >= 48em) {
  .TheFooter-primarylink[data-v-e44eba43]:first-of-type {
    border-top: none;
    flex: 0 0 calc(25% + 2.3rem);
  }
}
@media only screen and (width >= 48em) {
  .TheFooter-primarylink[data-v-e44eba43] {
    height: 37.7rem;
  }
}
@media only screen and (width >= 48em) {
  .TheFooter-primarylink + .TheFooter-primarylink[data-v-e44eba43] {
    border-left: solid 1px rgba(250, 251, 248, 0.3);
  }
}
.TheFooter-primarylinkdefault[data-v-e44eba43],
.TheFooter-primarylinkhover[data-v-e44eba43] {
  display: flex;
  padding: 0.3rem 0;
  align-items: flex-end;
  justify-content: space-between;
  color: #fafbf8;
}
@media only screen and (width >= 48em) {
  .TheFooter-primarylinkdefault[data-v-e44eba43],
  .TheFooter-primarylinkhover[data-v-e44eba43] {
    padding: 0 calc(var(--grid-column-gap) - 1.3rem) 1.8rem
      calc(var(--grid-column-gap) - 0.3rem);
    height: 100%;
  }
}
.TheFooter-primarylinkhover[data-v-e44eba43] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  color: #12110e;
  background-color: white;
}
.TheFooter-primarylinkhover .icon-arrow[data-v-e44eba43] {
  color: #12110e;
}
@media only screen and (width >= 48em) {
  .TheFooter-primarylinkhover[data-v-e44eba43] {
    display: flex;
  }
}
.icon-arrow[data-v-e44eba43] {
  color: white;
  width: 0.8571428571em;
  height: 0.8571428571em;
  margin-right: -0.5rem;
}
@media only screen and (width >= 48em) {
  .icon-arrow[data-v-e44eba43] {
    width: 1.3333333333em;
    height: 1.3333333333em;
    margin-bottom: -0.8rem;
    margin-right: 0;
  }
}
.TheFooter-secondarynav[data-v-e44eba43] {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.2rem 2rem 0;
}
@media only screen and (width >= 48em) {
  .TheFooter-secondarynav[data-v-e44eba43] {
    flex-direction: row;
    padding: 3.2rem 3.2rem 0;
  }
}
.TheFooter-extraprimarylink[data-v-e44eba43] {
  font-family: Saans, helvetica, arial, sans-serif;
  font-weight: 400;
  text-transform: inherit;
  font-style: inherit;
  color: white;
}
.TheFooter-extraprimarynav[data-v-e44eba43],
.TheFooter-secondarylinks[data-v-e44eba43] {
  display: flex;
  flex-direction: column;
}
@media only screen and (width >= 48em) {
  .TheFooter-extraprimarynav[data-v-e44eba43],
  .TheFooter-secondarylinks[data-v-e44eba43] {
    flex-direction: row;
    gap: 2.8rem;
  }
}
.TheFooter-extraprimarylink[data-v-e44eba43],
.TheFooter-secondarylink[data-v-e44eba43] {
  margin-bottom: 1.6rem;
  transition: color 0.3s ease-out;
}
.TheFooter-extraprimarylink[data-v-e44eba43]:hover,
.TheFooter-secondarylink[data-v-e44eba43]:hover {
  color: #fafbf8;
  transition: initial;
}
@media only screen and (width >= 48em) {
  .TheFooter-extraprimarylink[data-v-e44eba43],
  .TheFooter-secondarylink[data-v-e44eba43] {
    margin-bottom: 0;
  }
}
.TheFooter-bottom[data-v-e44eba43] {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 4.1rem 2rem 0;
}
@media only screen and (width >= 48em) {
  .TheFooter-bottom[data-v-e44eba43] {
    flex-direction: row;
    justify-content: space-between;
    padding: 13.6rem 3.4rem 0 3.2rem;
  }
}
.TheFooter-copyright[data-v-e44eba43] {
  font-family: Saans, helvetica, arial, sans-serif;
  font-weight: 400;
  text-transform: inherit;
  font-style: inherit;
  font-size: min(
    calc((1.2rem) + (1.4 - 1.2) * (100vw - 37.5rem) / 106.5),
    1.4rem
  );
  line-height: 1.15em;
  letter-spacing: 0;
  width: 50%;
  margin-top: 2.3rem;
  text-align: center;
}
@media only screen and (width >= 48em) {
  .TheFooter-copyright[data-v-e44eba43] {
    width: auto;
    margin-top: 0;
    text-align: left;
  }
}
.TheFooter-socialicons[data-v-e44eba43] {
  color: #fff;
}
.TheFooter-socialicon[data-v-e44eba43] {
  width: 1.6rem;
  height: 1.6rem;
  display: inline-block;
  transition: color 0.3s ease-out;
}
.TheFooter-socialicon.youtube[data-v-e44eba43] {
  width: 1.8rem;
  height: 1.26rem;
  margin-bottom: 0.1rem;
}
.TheFooter-socialicon[data-v-e44eba43]:hover {
  color: white;
  transition: initial;
}
.TheFooter-socialicon + .TheFooter-socialicon[data-v-e44eba43] {
  margin-left: 1.9rem;
}
@media only screen and (width >= 48em) {
  .TheFooter-socialicon + .TheFooter-socialicon[data-v-e44eba43] {
    margin-left: 2.4rem;
  }
}
.TheFooter-socialicon[data-v-e44eba43] svg {
  width: 100%;
  height: 100%;
  display: block;
}
.TheFooter-logo[data-v-e44eba43] {
  color: white;
  position: absolute;
  bottom: 0.8rem;
  width: 14rem;
  height: 14rem;
  left: 50%;
  translate: -50% 50%;
}
@media only screen and (width >= 48em) {
  .TheFooter-logo[data-v-e44eba43] {
    width: 16rem;
    height: 16rem;
    bottom: 0;
  }
}
@font-face {
  font-family: Saans;
  src: url(/assets/SaansMedium-OhhNPY7B.woff2) format("woff2");
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: Saans;
  src: url(/assets/SaansRegular-CRIy43oF.woff2) format("woff2");
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: ItemsRegular;
  src: url(/assets/Items-Regular-R4P_z7s3.woff2) format("woff2");
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}
[data-v-a2bd6bf1]:root {
  --color-beige: #ddd9d4;
  --color-black: rgb(18, 17, 14);
  --color-black-alt: rgb(18, 17, 14);
  --color-cream: #fafbf8;
  --color-grey: rgb(128, 128, 128);
  --color-warm-grey: #c3bdb8;
  --color-yellow: white;
  --color-transparent: transparent;
  --color-border: rgba(18, 17, 14, 0.3019607843);
}
[data-v-a2bd6bf1]:export {
  mobile: 375;
  tablet-portrait: 768;
  tablet-landscape: 1024;
  desktop: 1440;
  desktop-wide: 1920;
}
.hitzone[data-v-a2bd6bf1] {
  pointer-events: all;
  position: absolute;
  top: -1rem;
  right: -1rem;
  bottom: -1rem;
  left: -1rem;
}
@font-face {
  font-family: Saans;
  src: url(/assets/SaansMedium-OhhNPY7B.woff2) format("woff2");
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: Saans;
  src: url(/assets/SaansRegular-CRIy43oF.woff2) format("woff2");
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: ItemsRegular;
  src: url(/assets/Items-Regular-R4P_z7s3.woff2) format("woff2");
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}
[data-v-7355f592]:root {
  --color-beige: #ddd9d4;
  --color-black: rgb(18, 17, 14);
  --color-black-alt: rgb(18, 17, 14);
  --color-cream: #fafbf8;
  --color-grey: rgb(128, 128, 128);
  --color-warm-grey: #c3bdb8;
  --color-yellow: white;
  --color-transparent: transparent;
  --color-border: rgba(18, 17, 14, 0.3019607843);
}
[data-v-7355f592]:export {
  mobile: 375;
  tablet-portrait: 768;
  tablet-landscape: 1024;
  desktop: 1440;
  desktop-wide: 1920;
}
.TheMenu[data-v-7355f592] {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100%;
  z-index: 16;
  pointer-events: none;
}
.TheMenu-bgWrapper[data-v-7355f592] {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  background: #12110e26;
}
.TheMenu-bg[data-v-7355f592] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: bg-animation-7355f592 5s linear infinite;
  opacity: 0.64;
}
@keyframes bg-animation-7355f592 {
  0% {
    transform: translate(0);
  }
  to {
    transform: translate(-200%);
  }
}
.TheMenu-bg--first[data-v-7355f592] {
  background: linear-gradient(
    to left,
    whitecc,
    white97 19%,
    white6e 34%,
    white4e 47%,
    white39 56.5%,
    white28 65%,
    white1a 73%,
    white0f 80.2%,
    white09 86.1%,
    white04 91%,
    white02 95.2%,
    white00 98.2%,
    white00
  );
}
.TheMenu-bg--second[data-v-7355f592] {
  background: linear-gradient(
    to right,
    whitecc,
    white97 19%,
    white6e 34%,
    white4e 47%,
    white39 56.5%,
    white28 65%,
    white1a 73%,
    white0f 80.2%,
    white09 86.1%,
    white04 91%,
    white02 95.2%,
    white00 98.2%,
    white00
  );
  left: 100%;
}
.TheMenu-bg--third[data-v-7355f592] {
  background: linear-gradient(
    to left,
    whitecc,
    white97 19%,
    white6e 34%,
    white4e 47%,
    white39 56.5%,
    white28 65%,
    white1a 73%,
    white0f 80.2%,
    white09 86.1%,
    white04 91%,
    white02 95.2%,
    white00 98.2%,
    white00
  );
  left: 200%;
}
.TheMenu-block[data-v-7355f592] {
  top: min(calc((0.7rem) + (1 - 0.7) * (100vw - 37.5rem) / 106.5), 1rem);
  right: min(calc((0.7rem) + (1 - 0.7) * (100vw - 37.5rem) / 106.5), 1rem);
  bottom: min(calc((0.7rem) + (1 - 0.7) * (100vw - 37.5rem) / 106.5), 1rem);
  left: min(calc((0.7rem) + (1 - 0.7) * (100vw - 37.5rem) / 106.5), 1rem);
  margin-left: auto;
  position: absolute;
  width: calc(
    var(--grid-column-width) * 5 + var(--grid-column-gap) * 4 + 6.2rem
  );
  pointer-events: auto;
}
@media only screen and (width < 48em) {
  .TheMenu-block[data-v-7355f592] {
    width: auto;
  }
}
.TheMenu-contentBg[data-v-7355f592] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: min(
    calc((0.3rem) + (0.6 - 0.3) * (100vw - 37.5rem) / 106.5),
    0.6rem
  );
  background: white;
  transform-origin: center right;
}
.TheMenu-content[data-v-7355f592] {
  width: 100%;
  height: 100%;
  transform-origin: center right;
  overflow: hidden;
}
.TheMenu-inverse[data-v-7355f592] {
  width: 100%;
  height: 100%;
  transform-origin: center right;
}
.TheMenu-closeButton[data-v-7355f592] {
  top: calc(50% - 1.6rem);
  left: -5.9rem;
  position: absolute;
  width: 3.2rem;
  height: 3.2rem;
}
@media only screen and (width < 48em) {
  .TheMenu-closeButton[data-v-7355f592] {
    left: auto;
    z-index: 1;
    right: 0.6rem;
    top: 1.25rem;
  }
}
.icon-button-border[data-v-7355f592] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: transparent;
  color: #12110e4d;
  display: none;
  pointer-events: none;
}
@media only screen and (width < 48em) {
  .icon-button-border[data-v-7355f592] {
    display: block;
  }
}
.icon-menu-close[data-v-7355f592] {
  position: absolute;
  pointer-events: none;
}
.TheMenu-scroll[data-v-7355f592] {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior: contain;
}
.TheMenu-container[data-v-7355f592] {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 2.2rem;
  margin-right: 2.2rem;
  padding-top: 3.2rem;
}
@media only screen and (width < 48em) {
  .TheMenu-container[data-v-7355f592] {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    padding-top: 1.8rem;
  }
}
.TheMenu-body[data-v-7355f592] {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
}
.TheMenu-largeText[data-v-7355f592] {
  font-family: Saans, helvetica, arial, sans-serif;
  font-size: min(
    calc((3.8rem) + (5.6 - 3.8) * (100vw - 37.5rem) / 106.5),
    5.6rem
  );
  line-height: 1;
  font-weight: 500;
  letter-spacing: -0.02em;
}
.TheMenu-nav[data-v-7355f592] {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.TheMenu-link[data-v-7355f592] {
  transition: opacity 0.2s linear;
}
.TheMenu:has(.TheMenu-link:hover) .TheMenu-link[data-v-7355f592]:not(:hover) {
  opacity: 0.3;
}
.TheMenu-primaryLinkWrapper[data-v-7355f592] {
  width: 100%;
}
.TheMenu-primaryDivider[data-v-7355f592] {
  width: 100%;
  height: 1px;
  background-color: #12110e;
  opacity: 0.3;
  transition: opacity 0.2s linear;
}
.TheMenu-primaryLinkWrapper:hover .TheMenu-primaryDivider[data-v-7355f592] {
  opacity: 1;
}
.TheMenu-link--primary[data-v-7355f592] {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.7rem 1rem 0;
}
.TheMenu-link--primary[data-active="true"] .icon-dot[data-v-7355f592] {
  display: block;
}
@media only screen and (width < 48em) {
  .TheMenu-link--primary[data-v-7355f592] {
    padding: 0.8rem 0;
  }
}
.icon-dot[data-v-7355f592] {
  width: min(calc((0.4rem) + (0.6 - 0.4) * (100vw - 37.5rem) / 106.5), 0.6rem);
  height: min(calc((0.4rem) + (0.6 - 0.4) * (100vw - 37.5rem) / 106.5), 0.6rem);
  display: none;
}
.TheMenu-linklabel[data-v-7355f592] {
  display: block;
}
.TheMenu-social[data-v-7355f592] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.66em;
  padding-top: 4em;
}
.TheMenu-footer[data-v-7355f592] {
  margin-top: 2.7rem;
  flex-grow: 0;
  margin-bottom: 2.7rem;
}
@media only screen and (width < 48em) {
  .TheMenu-footer[data-v-7355f592] {
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
  }
}
.TheMenu-secondary[data-v-7355f592] {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 1.6rem;
}
.TheMenu-link--featured[data-v-7355f592] {
  flex: 1;
}
.TheMenu-secondaryLinkWrapper[data-v-7355f592] {
  margin-bottom: 0.3rem;
}
.TheMenu-link--secondary[data-v-7355f592] {
  font-family: Saans, helvetica, arial, sans-serif;
  font-weight: 400;
  text-transform: inherit;
  font-style: inherit;
  font-size: min(
    calc((1.2rem) + (1.4 - 1.2) * (100vw - 37.5rem) / 106.5),
    1.4rem
  );
  line-height: 1.15em;
  letter-spacing: 0;
}
.TheMenu-link[data-v-7355f592] {
  position: relative;
}
@font-face {
  font-family: Saans;
  src: url(/assets/SaansMedium-OhhNPY7B.woff2) format("woff2");
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: Saans;
  src: url(/assets/SaansRegular-CRIy43oF.woff2) format("woff2");
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: ItemsRegular;
  src: url(/assets/Items-Regular-R4P_z7s3.woff2) format("woff2");
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}
[data-v-f84c3a99]:root {
  --color-beige: #ddd9d4;
  --color-black: rgb(18, 17, 14);
  --color-black-alt: rgb(18, 17, 14);
  --color-cream: #fafbf8;
  --color-grey: rgb(128, 128, 128);
  --color-warm-grey: #c3bdb8;
  --color-yellow: white;
  --color-transparent: transparent;
  --color-border: rgba(18, 17, 14, 0.3019607843);
}
[data-v-f84c3a99]:export {
  mobile: 375;
  tablet-portrait: 768;
  tablet-landscape: 1024;
  desktop: 1440;
  desktop-wide: 1920;
}
.InversionNav-wrap[data-v-f84c3a99] {
  max-width: 100%;
  visibility: hidden;
}
.InversionNav-container[data-v-f84c3a99] {
  max-width: var(--grid-max-width);
  box-sizing: content-box;
  padding-left: var(--grid-side-margin);
  padding-right: var(--grid-side-margin);
  margin-left: auto;
  margin-right: auto;
  padding-top: min(
    calc((2rem) + (2.4 - 2) * (100vw - 37.5rem) / 106.5),
    2.4rem
  );
  padding-bottom: min(
    calc((2rem) + (2.4 - 2) * (100vw - 37.5rem) / 106.5),
    2.4rem
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.InversionNav[data-v-f84c3a99] {
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: fixed;
  width: 100%;
  color: #fff;
  pointer-events: none;
  box-sizing: border-box;
}
.InversionNav .InversionNavBar-left[data-v-f84c3a99],
.InversionNav .InversionNavBar-center[data-v-f84c3a99],
.InversionNav .InversionNavBar-right[data-v-f84c3a99] {
  pointer-events: auto;
  opacity: 1;
  transition: opacity 0.5s linear;
}
.InversionNav.differenceLayer[data-v-f84c3a99] {
  z-index: 10;
  mix-blend-mode: difference;
}
.InversionNav.overlayLayer[data-v-f84c3a99] {
  z-index: 11;
  mix-blend-mode: overlay;
}
.InversionNav.saturationLayer[data-v-f84c3a99] {
  z-index: 12;
  color: #000;
  mix-blend-mode: saturation;
  margin-bottom: -180px;
}
.InversionNav.colorLayer[data-v-f84c3a99] {
  z-index: 13;
}
.InversionNav.colorLayer .InversionNav-container[data-v-f84c3a99] > * {
  opacity: 0;
}
.icon-be-name[data-v-f84c3a99] {
  height: min(calc((2.9rem) + (3.4 - 2.9) * (100vw - 37.5rem) / 106.5), 3.4rem);
  width: min(
    calc((8.7rem) + (10.3 - 8.7) * (100vw - 37.5rem) / 106.5),
    10.3rem
  );
}
.InversionNavBar-center[data-v-f84c3a99] {
  display: flex;
  justify-content: center;
  flex: 1;
}
.icon-logo-bt[data-v-f84c3a99] {
  width: min(calc((3.2rem) + (4 - 3.2) * (100vw - 37.5rem) / 106.5), 4rem);
  height: min(calc((3.2rem) + (4 - 3.2) * (100vw - 37.5rem) / 106.5), 4rem);
  overflow: visible;
}
.InversionNavBar-right[data-v-f84c3a99] {
  height: min(calc((3.2rem) + (4 - 3.2) * (100vw - 37.5rem) / 106.5), 4rem);
  width: min(
    calc((8.7rem) + (10.3 - 8.7) * (100vw - 37.5rem) / 106.5),
    10.3rem
  );
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.InversionNavBar-menubtn[data-v-f84c3a99] {
  width: min(calc((3.2rem) + (4 - 3.2) * (100vw - 37.5rem) / 106.5), 4rem);
  height: min(calc((3.2rem) + (4 - 3.2) * (100vw - 37.5rem) / 106.5), 4rem);
  right: min(calc((-0.7rem) + (-1 - -0.7) * (100vw - 37.5rem) / 106.5), -1rem);
  top: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-button-border[data-v-f84c3a99] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: white;
  color: white;
  visibility: hidden;
}
.colorLayer .icon-button-border[data-v-f84c3a99] {
  visibility: visible;
}
@media only screen and (width >= 48em) {
  .icon-button-border[data-v-f84c3a99] {
    display: none;
  }
}
.icon-hamburger[data-v-f84c3a99] {
  width: min(calc((1.6rem) + (2 - 1.6) * (100vw - 37.5rem) / 106.5), 2rem);
  height: min(calc((1.6rem) + (2 - 1.6) * (100vw - 37.5rem) / 106.5), 2rem);
  position: absolute;
}
@font-face {
  font-family: Saans;
  src: url(/assets/SaansMedium-OhhNPY7B.woff2) format("woff2");
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: Saans;
  src: url(/assets/SaansRegular-CRIy43oF.woff2) format("woff2");
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: ItemsRegular;
  src: url(/assets/Items-Regular-R4P_z7s3.woff2) format("woff2");
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}
[data-v-213e9090]:root {
  --color-beige: #ddd9d4;
  --color-black: rgb(18, 17, 14);
  --color-black-alt: rgb(18, 17, 14);
  --color-cream: #fafbf8;
  --color-grey: rgb(128, 128, 128);
  --color-warm-grey: #c3bdb8;
  --color-yellow: white;
  --color-transparent: transparent;
  --color-border: rgba(18, 17, 14, 0.3019607843);
}
[data-v-213e9090]:export {
  mobile: 375;
  tablet-portrait: 768;
  tablet-landscape: 1024;
  desktop: 1440;
  desktop-wide: 1920;
}
.GridOverlay[data-v-213e9090] {
  display: block;
  position: fixed;
  z-index: 1000;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
}
.GridOverlay-inner[data-v-213e9090] {
  position: relative;
  width: var(--grid-width);
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
.GridOverlay-grid[data-v-213e9090] {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  grid-column-gap: var(--grid-column-gap);
  position: relative;
  height: 100%;
  width: 100%;
}
.GridOverlay-column[data-v-213e9090] {
  background: #ff00ff26;
  height: 100%;
}
@font-face {
  font-family: Saans;
  src: url(/assets/SaansMedium-OhhNPY7B.woff2) format("woff2");
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: Saans;
  src: url(/assets/SaansRegular-CRIy43oF.woff2) format("woff2");
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: ItemsRegular;
  src: url(/assets/Items-Regular-R4P_z7s3.woff2) format("woff2");
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}
[data-v-9efb3050]:root {
  --color-beige: #ddd9d4;
  --color-black: rgb(18, 17, 14);
  --color-black-alt: rgb(18, 17, 14);
  --color-cream: #fafbf8;
  --color-grey: rgb(128, 128, 128);
  --color-warm-grey: #c3bdb8;
  --color-yellow: white;
  --color-transparent: transparent;
  --color-border: rgba(18, 17, 14, 0.3019607843);
}
[data-v-9efb3050]:export {
  mobile: 375;
  tablet-portrait: 768;
  tablet-landscape: 1024;
  desktop: 1440;
  desktop-wide: 1920;
}
.PageTransition[data-v-9efb3050] {
  z-index: 25;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100lvh;
}
.PageTransition-logoWrapper[data-v-9efb3050] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.PageTransition-curtainWrapper[data-v-9efb3050] {
  will-change: transform;
  height: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-75vw);
}
.PageTransition-curtainGradientLeft[data-v-9efb3050] {
  background: linear-gradient(
    to left,
    white,
    whitebc 19%,
    white8a 34%,
    white61 47%,
    white47 56.5%,
    white31 65%,
    white20 73%,
    white13 80.2%,
    white0b 86.1%,
    white05 91%,
    white02 95.2%,
    white01 98.2%,
    white00
  );
  width: 75vw;
  height: 100%;
  background-repeat: no-repeat;
}
.PageTransition--dark .PageTransition-curtainGradientLeft[data-v-9efb3050] {
  background: linear-gradient(
    to left,
    #12110e,
    #12110ebc 19%,
    #12110e8a 34%,
    #12110e61 47%,
    #12110e47 56.5%,
    #12110e31 65%,
    #12110e20 73%,
    #12110e13 80.2%,
    #12110e0b 86.1%,
    #12110e05 91%,
    #12110e02 95.2%,
    #12110e01 98.2%,
    #12110e00
  );
}
.PageTransition-curtainGradientTop[data-v-9efb3050] {
  background: linear-gradient(
    to top,
    white,
    whitebc 19%,
    white8a 34%,
    white61 47%,
    white47 56.5%,
    white31 65%,
    white20 73%,
    white13 80.2%,
    white0b 86.1%,
    white05 91%,
    white02 95.2%,
    white01 98.2%,
    white00
  );
  position: absolute;
  width: 100%;
  height: 75lvh;
  bottom: 100lvh;
  background-repeat: no-repeat;
}
.PageTransition--dark .PageTransition-curtainGradientTop[data-v-9efb3050] {
  background: linear-gradient(
    to top,
    #12110e,
    #12110ebc 19%,
    #12110e8a 34%,
    #12110e61 47%,
    #12110e47 56.5%,
    #12110e31 65%,
    #12110e20 73%,
    #12110e13 80.2%,
    #12110e0b 86.1%,
    #12110e05 91%,
    #12110e02 95.2%,
    #12110e01 98.2%,
    #12110e00
  );
}
.PageTransition-curtainCentre[data-v-9efb3050] {
  width: 100vw;
  height: 100%;
  background: white;
}
.PageTransition--dark .PageTransition-curtainCentre[data-v-9efb3050] {
  background: #12110e;
}
.PageTransition-curtainGradientRight[data-v-9efb3050] {
  background: linear-gradient(
    to right,
    white,
    whitebc 19%,
    white8a 34%,
    white61 47%,
    white47 56.5%,
    white31 65%,
    white20 73%,
    white13 80.2%,
    white0b 86.1%,
    white05 91%,
    white02 95.2%,
    white01 98.2%,
    white00
  );
  width: 75vw;
  height: 100%;
  background-repeat: no-repeat;
}
.PageTransition--dark .PageTransition-curtainGradientRight[data-v-9efb3050] {
  background: linear-gradient(
    to right,
    #12110e,
    #12110ebc 19%,
    #12110e8a 34%,
    #12110e61 47%,
    #12110e47 56.5%,
    #12110e31 65%,
    #12110e20 73%,
    #12110e13 80.2%,
    #12110e0b 86.1%,
    #12110e05 91%,
    #12110e02 95.2%,
    #12110e01 98.2%,
    #12110e00
  );
}
.PageTransition-curtainGradientBottom[data-v-9efb3050] {
  background: linear-gradient(
    to bottom,
    white,
    whitebc 19%,
    white8a 34%,
    white61 47%,
    white47 56.5%,
    white31 65%,
    white20 73%,
    white13 80.2%,
    white0b 86.1%,
    white05 91%,
    white02 95.2%,
    white01 98.2%,
    white00
  );
  position: absolute;
  width: 100%;
  height: 75lvh;
  top: 100lvh;
  background-repeat: no-repeat;
}
.PageTransition--dark .PageTransition-curtainGradientBottom[data-v-9efb3050] {
  background: linear-gradient(
    to bottom,
    #12110e,
    #12110ebc 19%,
    #12110e8a 34%,
    #12110e61 47%,
    #12110e47 56.5%,
    #12110e31 65%,
    #12110e20 73%,
    #12110e13 80.2%,
    #12110e0b 86.1%,
    #12110e05 91%,
    #12110e02 95.2%,
    #12110e01 98.2%,
    #12110e00
  );
}
.PageTransition-logo[data-v-9efb3050] {
  width: min(calc((8rem) + (14.8 - 8) * (100vw - 37.5rem) / 106.5), 14.8rem);
  height: min(calc((8rem) + (14.8 - 8) * (100vw - 37.5rem) / 106.5), 14.8rem);
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fafbf8;
  z-index: 1;
  translate: -50% -50%;
}
.PageTransition--dark .PageTransition-logo[data-v-9efb3050] {
  color: gray;
}
.PageTransition-logoRing[data-v-9efb3050] {
  opacity: 0;
}
.PageTransition-title[data-v-9efb3050] {
  font-family: Saans, helvetica, arial, sans-serif;
  font-weight: 500;
  text-transform: inherit;
  font-style: normal;
  font-size: min(
    calc((3.2rem) + (7.2 - 3.2) * (100vw - 37.5rem) / 106.5),
    7.2rem
  );
  letter-spacing: -0.02em;
  line-height: clamp(
    0.99em,
    calc((1.1em) + (0.99 - 1.1) * (100vw - 37.5rem) / 106.5),
    1.1em
  );
  z-index: 2;
  text-transform: capitalize;
  color: #12110e;
  opacity: 0;
  margin-bottom: 0.2em;
}
@media only screen and (width >= 48em) {
  .PageTransition-title[data-v-9efb3050] {
    letter-spacing: -0.04em;
  }
}
.PageTransition--dark .PageTransition-title[data-v-9efb3050] {
  color: #fafbf8;
}
@font-face {
  font-family: Saans;
  src: url(/assets/SaansMedium-OhhNPY7B.woff2) format("woff2");
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: Saans;
  src: url(/assets/SaansRegular-CRIy43oF.woff2) format("woff2");
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: ItemsRegular;
  src: url(/assets/Items-Regular-R4P_z7s3.woff2) format("woff2");
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}
[data-v-069816bf]:root {
  --color-beige: #ddd9d4;
  --color-black: rgb(18, 17, 14);
  --color-black-alt: rgb(18, 17, 14);
  --color-cream: #fafbf8;
  --color-grey: rgb(128, 128, 128);
  --color-warm-grey: #c3bdb8;
  --color-yellow: white;
  --color-transparent: transparent;
  --color-border: rgba(18, 17, 14, 0.3019607843);
}
[data-v-069816bf]:export {
  mobile: 375;
  tablet-portrait: 768;
  tablet-landscape: 1024;
  desktop: 1440;
  desktop-wide: 1920;
}
.SignupForm[data-v-069816bf] {
  padding-top: min(
    calc((2rem) + (3.1 - 2) * (100vw - 37.5rem) / 106.5),
    3.1rem
  );
  display: block;
  position: relative;
  width: 100%;
  background: gray;
  color: #12110e;
  border-top: solid 1px rgba(18, 17, 14, 0.3019607843);
  padding-left: var(--grid-side-margin);
  padding-right: var(--grid-side-margin);
}
.SignupForm-container[data-v-069816bf] {
  width: 100%;
}
.SignupForm-row[data-v-069816bf] {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  grid-column-gap: var(--grid-column-gap);
}
.SignupForm-col--left[data-v-069816bf] {
  grid-column: 1/-1;
}
@media only screen and (width >= 48em) {
  .SignupForm-col--left[data-v-069816bf] {
    grid-column: 1 / span 4;
  }
}
@media only screen and (width >= 120em) {
  .SignupForm-col--left[data-v-069816bf] {
    grid-column: 1 / span 3;
  }
}
@media only screen and (48em <= width < 64em) {
  .SignupForm-col--left[data-withform="true"][data-v-069816bf] {
    grid-column: 1 / span 7;
  }
}
@media only screen and (width >= 64em) {
  .SignupForm-col--left[data-withform="true"][data-v-069816bf] {
    grid-column: 1 / span 6;
  }
}
@media only screen and (width >= 120em) {
  .SignupForm-col--left[data-withform="true"][data-v-069816bf] {
    grid-column: 1 / span 4;
  }
}
.SignupForm-col--right[data-v-069816bf] {
  grid-column: 1/-1;
}
@media only screen and (48em <= width < 64em) {
  .SignupForm-col--right[data-v-069816bf] {
    grid-column: 8/-1;
  }
}
@media only screen and (width >= 64em) {
  .SignupForm-col--right[data-v-069816bf] {
    grid-column: 7/-1;
  }
}
.SignupForm-header--alone[data-v-069816bf] {
  margin-bottom: clamp(
    10.6rem,
    calc((27rem) + (10.6 - 27) * (100vw - 37.5rem) / 106.5),
    27rem
  );
}
.SignupForm-title[data-v-069816bf] {
  margin-bottom: min(
    calc((1.2rem) + (1.6 - 1.2) * (100vw - 37.5rem) / 106.5),
    1.6rem
  );
}
.SignupForm-titlepart[data-v-069816bf] {
  display: block;
}
.SignupForm-text[data-v-069816bf] {
  max-width: min(
    calc((27.8rem) + (43 - 27.8) * (100vw - 37.5rem) / 106.5),
    43rem
  );
  padding-right: 2rem;
}
.SignupForm-form[data-v-069816bf] {
  margin-top: min(
    calc((4.77rem) + (14.64 - 4.77) * (100vw - 37.5rem) / 106.5),
    14.64rem
  );
}
.SignupForm-field[data-v-069816bf] {
  margin-bottom: min(
    calc((3.2rem) + (4.7 - 3.2) * (100vw - 37.5rem) / 106.5),
    4.7em
  );
  position: relative;
}
.SignupForm-field[data-last="true"][data-v-069816bf] {
  margin-bottom: 4.8rem;
}
.SignupForm-label[data-v-069816bf] {
  margin-bottom: clamp(
    1rem,
    calc((1.3rem) + (1 - 1.3) * (100vw - 37.5rem) / 106.5),
    1.3rem
  );
  font-family: ItemsRegular, Georgia, Times New Roman, serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.12em;
  font-style: normal;
  text-transform: uppercase;
  display: block;
  position: relative;
}
.SignupForm-label[data-v-069816bf]:before {
  top: min(calc(0.4rem + 0 * (100vw - 37.5rem)), 0.4rem);
  transition: opacity 0.3s ease, visibility 0.3s ease;
  content: "";
  background-color: #ff1e1e;
  margin-right: 0.2rem;
  position: absolute;
  width: 0.4rem;
  height: 0.4rem;
  left: -1.1rem;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
}
.SignupForm-label[data-has-error="true"][data-v-069816bf]:before {
  opacity: 1;
  visibility: visible;
}
select#field-focus[data-v-069816bf] {
  width: 100%;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none !important;
}
select#field-focus[data-v-069816bf]:focus,
select#field-focus[data-v-069816bf]:hover {
  outline: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none !important;
}
select#field-interest[data-v-069816bf] {
  width: 100%;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none !important;
}
select#field-interest[data-v-069816bf]:focus,
select#field-interest[data-v-069816bf]:hover {
  outline: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none !important;
}
.SignupForm-select[data-v-069816bf] {
  font-family: Saans, helvetica, arial, sans-serif;
  font-weight: 500;
  text-transform: inherit;
  font-style: normal;
  font-size: min(
    calc((1.8rem) + (3.2 - 1.8) * (100vw - 37.5rem) / 106.5),
    3.2rem
  );
  letter-spacing: -0.01em;
  line-height: 1.1em;
  background: transparent;
  outline: none !important;
  border: none;
  border-bottom: 1px solid rgba(18, 17, 14, 0.3019607843);
  color: #12110e4d;
  line-height: 1.89;
}
@media only screen and (width >= 48em) {
  .SignupForm-select[data-v-069816bf] {
    letter-spacing: -0.02em;
  }
}
.SignupForm-select[data-v-069816bf]:focus,
.SignupForm-select[data-v-069816bf]:hover {
  outline: none !important;
}
@media only screen and (width >= 48em) {
  .SignupForm-select[data-v-069816bf] {
    line-height: 1.7;
  }
}
.SignupForm-select option[data-v-069816bf] {
  background: gray;
}
.SignupForm-input[data-v-069816bf] {
  font-family: Saans, helvetica, arial, sans-serif;
  font-weight: 500;
  text-transform: inherit;
  font-style: normal;
  font-size: min(
    calc((1.8rem) + (3.2 - 1.8) * (100vw - 37.5rem) / 106.5),
    3.2rem
  );
  letter-spacing: -0.01em;
  line-height: 1.1em;
  line-height: 1.89;
  caret-color: white;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(18, 17, 14, 0.3019607843);
  color: #12110e;
  width: 100%;
  transition: border-color 0.3s ease;
  margin: 0;
  border-radius: 0;
}
@media only screen and (width >= 48em) {
  .SignupForm-input[data-v-069816bf] {
    letter-spacing: -0.02em;
  }
}
@media only screen and (width >= 48em) {
  .SignupForm-input[data-v-069816bf] {
    line-height: 1.7;
  }
}
.SignupForm-input[data-v-069816bf]::placeholder {
  font-family: Saans, helvetica, arial, sans-serif;
  font-weight: 500;
  text-transform: inherit;
  font-style: normal;
  font-size: min(
    calc((1.8rem) + (3.2 - 1.8) * (100vw - 37.5rem) / 106.5),
    3.2rem
  );
  letter-spacing: -0.01em;
  line-height: 1.1em;
  color: #12110e4d;
}
@media only screen and (width >= 48em) {
  .SignupForm-input[data-v-069816bf]::placeholder {
    letter-spacing: -0.02em;
  }
}
.SignupForm-input[data-v-069816bf]:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px rgb(128, 128, 128) inset;
  -webkit-text-fill-color: rgb(18, 17, 14) !important;
  caret-color: white;
  transition: background-color 5000s ease-in-out 0s;
  border-bottom: 1px solid rgba(18, 17, 14, 0.3019607843);
}
.SignupForm-input[data-has-error="true"][data-v-069816bf] {
  border-bottom: 1px solid #ff1e1e;
}
.SignupForm-inputicon[data-v-069816bf] {
  height: min(calc((2.4rem) + (4 - 2.4) * (100vw - 37.5rem) / 106.5), 4rem);
  width: min(calc((2.4rem) + (4 - 2.4) * (100vw - 37.5rem) / 106.5), 4rem);
  color: #12110e4d;
  position: absolute;
  right: -1rem;
  bottom: 0.7rem;
}
.SignupForm-inputicon[data-is-valid="true"][data-v-069816bf] {
  color: white;
}
@font-face {
  font-family: Saans;
  src: url(/assets/SaansMedium-OhhNPY7B.woff2) format("woff2");
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: Saans;
  src: url(/assets/SaansRegular-CRIy43oF.woff2) format("woff2");
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: ItemsRegular;
  src: url(/assets/Items-Regular-R4P_z7s3.woff2) format("woff2");
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}
[data-v-ea5deaed]:root {
  --color-beige: #ddd9d4;
  --color-black: rgb(18, 17, 14);
  --color-black-alt: rgb(18, 17, 14);
  --color-cream: #fafbf8;
  --color-grey: rgb(128, 128, 128);
  --color-warm-grey: #c3bdb8;
  --color-yellow: white;
  --color-transparent: transparent;
  --color-border: rgba(18, 17, 14, 0.3019607843);
}
[data-v-ea5deaed]:export {
  mobile: 375;
  tablet-portrait: 768;
  tablet-landscape: 1024;
  desktop: 1440;
  desktop-wide: 1920;
}
.layout[data-v-ea5deaed] {
  width: 100%;
}
.page[data-v-ea5deaed] {
  opacity: 0;
}
