@font-face {
  font-family: Saans;
  src: url(/assets/SaansMedium-OhhNPY7B.woff2) format("woff2");
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: Saans;
  src: url(/assets/SaansRegular-CRIy43oF.woff2) format("woff2");
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: ItemsRegular;
  src: url(/assets/Items-Regular-R4P_z7s3.woff2) format("woff2");
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}
[data-v-0465894d]:root {
  --color-beige: #ddd9d4;
  --color-black: rgb(18, 17, 14);
  --color-black-alt: rgb(18, 17, 14);
  --color-cream: #fafbf8;
  --color-grey: rgb(128, 128, 128);
  --color-warm-grey: #c3bdb8;
  --color-yellow: white;
  --color-transparent: transparent;
  --color-border: rgba(18, 17, 14, 0.3019607843);
}
[data-v-0465894d]:export {
  mobile: 375;
  tablet-portrait: 768;
  tablet-landscape: 1024;
  desktop: 1440;
  desktop-wide: 1920;
}
.TwoColList-container[data-v-0465894d] {
  max-width: var(--grid-max-width);
  box-sizing: content-box;
  padding-left: var(--grid-side-margin);
  padding-right: var(--grid-side-margin);
  margin-left: auto;
  margin-right: auto;
  padding-top: min(
    calc((4.8rem) + (12 - 4.8) * (100vw - 37.5rem) / 106.5),
    12rem
  );
  padding-bottom: min(
    calc((6.4em) + (12 - 6.4) * (100vw - 37.5rem) / 106.5),
    12rem
  );
}
.TwoColList-item[data-v-0465894d] {
  padding-bottom: clamp(
    2.4rem,
    calc((4.8rem) + (2.4 - 4.8) * (100vw - 37.5rem) / 106.5),
    4.8rem
  );
}
@media only screen and (width >= 64em) {
  .TwoColList-item[data-v-0465894d] {
    padding: min(
        calc((1.6rem) + (2.4 - 1.6) * (100vw - 37.5rem) / 106.5),
        2.4rem
      )
      min(calc(0rem + 0 * (100vw - 37.5rem)), 0rem)
      clamp(
        2.4rem,
        calc((4.8rem) + (2.4 - 4.8) * (100vw - 37.5rem) / 106.5),
        4.8rem
      );
  }
}
.TwoColList-item[data-v-0465894d]:first-child {
  padding-top: 0;
}
.TwoColList-item[data-v-0465894d]:last-child {
  padding-bottom: 0;
}
.TwoColList-wrapper[data-v-0465894d] {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  gap: var(--grid-column-gap);
}
.TwoColList-gap[data-v-0465894d] {
  display: none;
}
@media only screen and (width >= 64em) {
  .TwoColList-gap[data-v-0465894d] {
    grid-column: span 2;
    display: block;
  }
}
.TwoColList-content[data-v-0465894d] {
  padding-top: min(
    calc((1.6rem) + (2.4 - 1.6) * (100vw - 37.5rem) / 106.5),
    2.4rem
  );
  grid-column: span 12;
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-column-gap);
}
@media only screen and (width >= 64em) {
  .TwoColList-content[data-v-0465894d] {
    grid-template-columns: repeat(10, 1fr);
    grid-column: span 10;
  }
}
.TwoColList-content[data-v-0465894d]:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #12110e4d;
}
.theme--black .TwoColList-content[data-v-0465894d]:before,
.theme--black-alt .TwoColList-content[data-v-0465894d]:before {
  background-color: #fafbf84d;
}
.TwoColList-title[data-v-0465894d] {
  margin: 0;
  grid-column: 5/-1;
  padding-bottom: min(
    calc((0.7rem) + (2.1 - 0.7) * (100vw - 37.5rem) / 106.5),
    2.1rem
  );
}
@media only screen and (width >= 64em) {
  .TwoColList-title[data-v-0465894d] {
    padding-bottom: min(
      calc((1.6rem) + (2.1 - 1.6) * (100vw - 37.5rem) / 106.5),
      2.1rem
    );
    grid-column: 1 / span 6;
  }
}
@media (max-width: 360px) {
  .TwoColList-title[data-v-0465894d] {
    grid-column: 2/-1;
  }
}
.TwoColList-description[data-v-0465894d] {
  margin: 0;
  grid-column: 5/-1;
}
@media only screen and (width >= 64em) {
  .TwoColList-description[data-v-0465894d] {
    padding-bottom: min(
      calc((1.6rem) + (3.15 - 1.6) * (100vw - 37.5rem) / 106.5),
      3.15rem
    );
    grid-column: 7/-2;
  }
}
@media (max-width: 360px) {
  .TwoColList-description[data-v-0465894d] {
    grid-column: 2/-1;
  }
}
.TwoColList-description[data-v-0465894d] p:last-child {
  margin-bottom: 0;
}
@font-face {
  font-family: Saans;
  src: url(/assets/SaansMedium-OhhNPY7B.woff2) format("woff2");
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: Saans;
  src: url(/assets/SaansRegular-CRIy43oF.woff2) format("woff2");
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: ItemsRegular;
  src: url(/assets/Items-Regular-R4P_z7s3.woff2) format("woff2");
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}
[data-v-dba1b43b]:root {
  --color-beige: #ddd9d4;
  --color-black: rgb(18, 17, 14);
  --color-black-alt: rgb(18, 17, 14);
  --color-cream: #fafbf8;
  --color-grey: rgb(128, 128, 128);
  --color-warm-grey: #c3bdb8;
  --color-yellow: white;
  --color-transparent: transparent;
  --color-border: rgba(18, 17, 14, 0.3019607843);
}
[data-v-dba1b43b]:export {
  mobile: 375;
  tablet-portrait: 768;
  tablet-landscape: 1024;
  desktop: 1440;
  desktop-wide: 1920;
}
.CardStack[data-v-dba1b43b] {
  width: 100%;
}
.CardStack-container[data-v-dba1b43b] {
  max-width: var(--grid-max-width);
  box-sizing: content-box;
  padding-left: var(--grid-side-margin);
  padding-right: var(--grid-side-margin);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}
.CardStack-wrapper[data-v-dba1b43b] {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-column-gap);
  width: 100%;
  height: fit-content;
}
.CardStack-card[data-v-dba1b43b] {
  flex: 1 1 calc(33.333% - 2rem);
  padding: 2.4rem 0 4.8rem;
  min-height: 42rem;
}
@media only screen and (width >= 64em) {
  .CardStack-card[data-v-dba1b43b] {
    padding: 2rem 0 12rem;
    min-height: 74rem;
  }
}
.CardStack-header[data-v-dba1b43b] {
  margin-bottom: 0.5rem;
  grid-row: 2;
  grid-column: 1/-1;
}
@media only screen and (width >= 64em) {
  .CardStack-header[data-v-dba1b43b] {
    margin-bottom: 2.45rem;
    grid-column: span 4;
    grid-row: 1;
  }
}
.CardStack-eyebrow[data-v-dba1b43b] {
  font-family: ItemsRegular, Georgia, Times New Roman, serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.12em;
  font-style: normal;
  text-transform: uppercase;
  margin-top: min(calc((0rem) + (5 - 0) * (100vw - 37.5rem) / 106.5), 5rem);
  grid-row: 1;
  grid-column: 1/-1;
}
@media only screen and (width >= 64em) {
  .CardStack-eyebrow[data-v-dba1b43b] {
    grid-column: span 2;
    margin-bottom: 0rem;
  }
}
.CardStack-body[data-v-dba1b43b] {
  margin-top: min(calc((0.8rem) + (1 - 0.8) * (100vw - 37.5rem) / 106.5), 1rem);
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 100%;
  grid-row: 3;
  grid-column: 5/-1;
}
@media only screen and (width >= 64em) {
  .CardStack-body[data-v-dba1b43b] {
    grid-row: 1;
    grid-column: 9/-2;
  }
}
@media (max-width: 360px) {
  .CardStack-body[data-v-dba1b43b] {
    grid-column: 2/-1;
  }
}
.CardStack-body[data-v-dba1b43b] h1 {
  font-family: Saans, helvetica, arial, sans-serif;
  font-weight: 500;
  text-transform: inherit;
  font-style: normal;
  font-size: min(
    calc((1.4rem) + (1.6 - 1.4) * (100vw - 37.5rem) / 106.5),
    1.6rem
  );
  line-height: min(
    calc((1.16em) + (1.2 - 1.16) * (100vw - 37.5rem) / 106.5),
    1.2em
  );
  letter-spacing: 0;
  margin-bottom: 1rem;
}
.CardStack-body[data-v-dba1b43b] p:last-child {
  margin-bottom: 0;
}
.CardStack-footer[data-v-dba1b43b] {
  gap: min(calc((0.8rem) + (1.5 - 0.8) * (100vw - 37.5rem) / 106.5), 1.5rem);
  margin-top: min(
    calc((2.4rem) + (4.8 - 2.4) * (100vw - 37.5rem) / 106.5),
    4.8rem
  );
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.CardStack-modalcontent[data-v-dba1b43b] {
  max-width: var(--grid-max-width);
  box-sizing: content-box;
  padding-left: var(--grid-side-margin);
  padding-right: var(--grid-side-margin);
  margin-left: auto;
  margin-right: auto;
  padding: clamp(
      3rem,
      calc((6.5rem) + (3 - 6.5) * (100vw - 37.5rem) / 106.5),
      6.5rem
    )
    min(calc(0rem + 0 * (100vw - 37.5rem)), 0rem)
    clamp(3rem, calc((6.6rem) + (3 - 6.6) * (100vw - 37.5rem) / 106.5), 6.6rem);
  padding-left: var(--grid-column-gap);
  margin-left: calc(var(--grid-column-width) + var(--grid-column-gap));
  margin-right: calc(-1 * var(--grid-column-width));
}
@media only screen and (48em <= width < 90em) {
  .CardStack-modalcontent[data-v-dba1b43b] {
    margin-right: calc(var(--grid-column-gap) - 1rem);
  }
}
@media only screen and (width >= 64em) {
  .CardStack-modalcontent[data-v-dba1b43b] {
    margin-left: var(--grid-column-gap);
    margin-right: calc(var(--grid-column-gap) - 1rem);
    padding-left: 0;
  }
}
.CardStack-modalcontent[data-v-dba1b43b] .PeopleGridList-gridlist {
  padding-bottom: min(calc(3rem + 0 * (100vw - 37.5rem)), 3rem);
}
@media only screen and (width >= 64em) {
  .CardStack-modalcontent[data-v-dba1b43b] .PeopleGridList-gridlist {
    padding-left: 0;
  }
}
.CardStack-modalheader[data-v-dba1b43b] {
  padding-bottom: min(
    calc((1.6rem) + (1.66 - 1.6) * (100vw - 37.5rem) / 106.5),
    1.66rem
  );
  margin-left: calc(var(--grid-column-width) + var(--grid-column-gap));
}
@media only screen and (width >= 64em) {
  .CardStack-modalheader[data-v-dba1b43b] {
    margin-left: 0;
  }
}
@font-face {
  font-family: Saans;
  src: url(/assets/SaansMedium-OhhNPY7B.woff2) format("woff2");
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: Saans;
  src: url(/assets/SaansRegular-CRIy43oF.woff2) format("woff2");
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: ItemsRegular;
  src: url(/assets/Items-Regular-R4P_z7s3.woff2) format("woff2");
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}
[data-v-02206a5a]:root {
  --color-beige: #ddd9d4;
  --color-black: rgb(18, 17, 14);
  --color-black-alt: rgb(18, 17, 14);
  --color-cream: #fafbf8;
  --color-grey: rgb(128, 128, 128);
  --color-warm-grey: #c3bdb8;
  --color-yellow: white;
  --color-transparent: transparent;
  --color-border: rgba(18, 17, 14, 0.3019607843);
}
[data-v-02206a5a]:export {
  mobile: 375;
  tablet-portrait: 768;
  tablet-landscape: 1024;
  desktop: 1440;
  desktop-wide: 1920;
}
.programs[data-v-02206a5a] {
  margin: 0 auto;
}
.programs-loading[data-v-02206a5a] {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}
.programs-error[data-v-02206a5a],
.programs-not-found[data-v-02206a5a] {
  padding: 2rem;
  background-color: #fff5f5;
  border-radius: 4px;
  border-left: 4px solid #f56565;
}
