@font-face {
  font-family: Saans;
  src: url(/assets/SaansMedium-OhhNPY7B.woff2) format("woff2");
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: Saans;
  src: url(/assets/SaansRegular-CRIy43oF.woff2) format("woff2");
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: ItemsRegular;
  src: url(/assets/Items-Regular-R4P_z7s3.woff2) format("woff2");
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}
[data-v-d72ab800]:root {
  --color-beige: #ddd9d4;
  --color-black: rgb(18, 17, 14);
  --color-black-alt: rgb(18, 17, 14);
  --color-cream: #fafbf8;
  --color-grey: rgb(128, 128, 128);
  --color-warm-grey: #c3bdb8;
  --color-yellow: white;
  --color-transparent: transparent;
  --color-border: rgba(18, 17, 14, 0.3019607843);
}
[data-v-d72ab800]:export {
  mobile: 375;
  tablet-portrait: 768;
  tablet-landscape: 1024;
  desktop: 1440;
  desktop-wide: 1920;
}
.signup-page[data-v-d72ab800] {
  height: 85px;
}
